@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #288628;
}

#slidingText {
  font-family: "DM Sans";
  position: absolute;
  font-size: 40vh;
  bottom: -10rem;
  white-space: nowrap;
  color: #ffffff2f;
  width: 50%;
  font-weight: bold;
  z-index: 1;
}
